#u259-6,#u266-6,#u263-4,#u302-5,#u294-6,#u298-4,#u1547-6,#u1613-4
{
	font-family: asap-n4, sans-serif;
}

#u1627-4
{
	font-family: asap-n4, sans-serif;
}

#u1637-4
{
	font-family: asap-n4, sans-serif;
}

#u1642-4
{
	font-family: asap-n4, sans-serif;
}

#u1650-4
{
	font-family: asap-n4, sans-serif;
}

#u1654-4
{
	font-family: asap-n4, sans-serif;
}

#u103-4,#u110-4,#u123-4,#u125-4,#u137-4,#u138-4,#u149-4,#u150-4,#u182-4,#u181-4,#u176-4,#u175-4,#u173-4,#u174-4,#u334-5,#u335-4,#u449-4,#u445-4,#u461-4,#u460-4,#u343-4,#u403-4,#u342-4,#u401-4,#u528-4,#u526-4,#u536-4,#u546-4,#u551-4,#u556-4,#u709-5,#u711-4,#u742-4,#u743-4,#u744-4,#u745-4,#u778-4,#u780-4,#u1735-5,#u1736-4,#u1744-4,#u1751-4,#u1759-4,#u1746-4,#u1752-4,#u1760-4,#u810-7,#u816-7,#u817-7,#u819-5,#u820-4,#u1302-6,#u1303-4,#u1314-4,#u1323-5,#u1320-10,#u1317-4,#u1352-4,#u1353-5,#u1354-10,#u1356-4,#u1366-4,#u1367-5,#u1368-10,#u1370-4,#u1381-4,#u1382-4,#u1394-4,#u1402-4,#u1414-4,#u1422-4,#u1429-4,#u1431-4,#u1433-4,#u1444-4,#u1445-4,#u1454-5,#u1461-16,#u1490-4
{
	font-family: asap-n4, sans-serif;
}

